<ion-view view-title="Account">
  <ion-content>
  
      <div class="row">
      <div class="user-profile" style="width:100%;heigh:auto;background-color:#fff;float:left;">
         <div class="avatar">
        <img src="img/rt.jpg" class="profile_pic">
        <ul>
          <li>
          <p class="text-white text-center" style="margin-top:-15%;margin-bottom:10%;display:block;">Shishir</p>
          </li>
        </ul>
      </div>
      </div>
      <div class = "col"><h3>Autum_Shishir</h3></div>
    
     </div>

    <ul class="profile" style="margin-left:5%;">
      <li class="profile">
        <a href="#"><img src="img/sst1.jpg"></a>
      </li>
      <li class="profile" style="list-style-type: none;">
        <a href="#"><img src="img/sst2.jpg"></a>
      </li>
      <li class="profile" style="list-style-type: none;">
        <a href="#"><img src="img/sst3.jpg"></a>
      </li>
      <li class="profile" style="list-style-type: none;">
        <a href="#"><img src="http://placehold.it/100x100"></a>
      </li>
      <li class="profile" style="list-style-type: none;">
        <a href="#"><img src="http://placehold.it/100x100"></a>
      </li>
      <li class="profile" style="list-style-type: none;">
        <a href="#"><img src="http://placehold.it/100x100"></a>
       </li>
  </ul>


  </ion-content>
</ion-view>
